<ion-header class="ion-no-border">
  <div class="row top">
    <div class="col6">
      <img src="/assets/logo.png" alt="logo" />
    </div>
    <div class="col6">
      <div class="chatbtn" (click)="presentModal()">
        <ion-icon class="chaticon text-primary" name="chatbubbles"></ion-icon>
        <div *ngIf="notif != 0" class="notif">{{notif}}</div>
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <!--
  <div class="row">
    <div class="col6 logo">
      <img src="/assets/logo.png" alt="logo" />
    </div>
    <div class="col6">
      <div class="chatbtn" *ngIf="login" routerLink="/chat">
        <ion-icon class="chaticon" name="chatboxes"></ion-icon>
        <div *ngIf="notif != 0" class="notif">{{notif}}</div>
      </div>
      <div class="chatbtn" *ngIf="!login" routerLink="/login">
        <ion-icon class="chaticon" name="chatboxes"></ion-icon>
      </div>
    </div>
  </div>
  -->
  <div class="row search">
    <div class="col1">
      <fa-icon [icon]="cari"></fa-icon>
    </div>
    <div class="col11">
      <input placeholder="Cari Produk" [(ngModel)]="cariText" (change)="cariProduk()" />
    </div>
  </div>
  <ion-slides [options]="slideOpts" class="slider" pager="true">
      <ion-slide *ngFor="let s of slider">
          <img src="{{s.foto}}" class="img" />
      </ion-slide>
      <ion-slide *ngIf="!slider">
          <img src="/assets/img/belumadapromo.png" class="img">
      </ion-slide>
  </ion-slides>
  <div class="row kategori">
    <div class="col3" *ngFor="let r of kategori" routerLink="/kategori/{{r.id}}">
      <div class="foto" [ngStyle]="{'background-image':'url('+r.foto+')'}"></div>
      <div class="cat-title">{{r.nama}}</div>
    </div>
    <div class="col12 center mt20" *ngIf="kategori.length > 8">
      <ion-button class="btn-primary" routerLink="/kategorilist">Lihat Semua Kategori</ion-button>
    </div>
  </div>
  <div class="newproduct">
    <div class="title text-primary">
      PRODUK PILIHAN
      <div class="line"></div>
    </div>
    <div class="row">
      <div class="col6" *ngFor="let p of produk">
        <div class="prod-wrap" (click)="loadProduk(p.id)">
          <div class="img" [ngStyle]="{'background-image':'url('+p.foto+')'}"></div>
          <div class="prod-title font-bold">{{p.nama}}</div>
          <div class="prod-harga">
            <i *ngIf="p.hargadiskon != null">{{p.hargadiskon}}&nbsp;</i><br/>
            {{p.harga}}
          </div>
          <div class="row prod-uls">
            <div class="prod-ulasan col8">{{p.ulasan}} Ulasan</div>
            <div class="prod-nilai col4 text-warning font-bold"><ion-icon name="star"></ion-icon> {{p.nilai}}</div>
          </div>
          <div *ngIf="p.po > 0" class="prod-po">PRE ORDER</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
